[programs.localnet]
anchor_escrow = "6m7hFFRbDoCAN5bTm592crzaXNV3qkYwt6aaEzd1rkg6"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "https://rpc-mainnet-fork.epochs.studio"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
